.sidebar li {
  list-style: none;
}

body {
  position: relative;
  min-width: 700px;
}

.logo img {
  position: static;
  height: auto;
}

.logo {
  height: auto;
  margin: 36px 0 26px;
}

.l-headerprimary {
  width: 43.75%;
}

.l-headersecondary {
  width: 46.25%;
}

.tagline {
  margin-top: 40px;

  font-family: Omnes-Pro, Proxima-Nova-Soft, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.intro, .footnote {
  margin-left: 24px;
}

.version {
  margin-right: 45px;

  text-align: right;
}

.video-container {
  border: 10px solid #834b0f;
  border-radius: 6px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  font-size: inherit;
}

.api .sidebar.fixed {
  position: fixed;
  top: 24px;
  width: 296px;
  margin-left: 24px;
}

.api .sidebar li {
  display: none;
}

.api .sidebar.fixed .active, .api .sidebar.fixed .active li {
  display: block;
}

.api .sidebar.fixed ul ul ul ul {
  display: none !important;
}

.api .main {
  margin-left: 367px;
}

.api-toc ul {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: bold;
  list-style: none;
}

.api-toc ul ul {
  padding-left: 24px;

  font-size: 16px;
  font-weight: normal;
  list-style: none;
}

.api-toc a {
  display: block;
  padding: 3px 0;
}

.l-constrained {
  width: 960px;
}