.sidebar li {
  list-style: none;
}

body {
  position: relative;
  min-width: 700px;
}

.logo img {
  position: static;
  height: auto;
}

.logo {
  height: auto;
  margin: 60px 0 26px;
}

.l-headerprimary {
  width: 43.75%;
}

.l-headersecondary {
  width: 46.25%;
}

.tagline {
  margin-top: 40px;

  font-family: Omnes-Pro, Proxima-Nova-Soft, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.intro, .footnote {
  margin-left: 24px;
}

.version {
  font-family: Omnes-Pro, Proxima-Nova-Soft, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  top: -47px;
  left: 345px;
  font-weight: bold;
}

.video-container {
  border: 10px solid #834b0f;
  border-radius: 6px;
}