<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/overrides.css">

    <script src="/js/vendor/html5shiv.js"></script>
</head>
<body>

<a class="github-banner" href="https://github.com/spumko/hapi">
    <img src="/img/fork-me.png" alt="Fork me on GitHub">
</a>

<header role="banner">
    <div class="l-constrained">
        <div class="l-row">

            <div class="l-col l-headerprimary">
                <h1 class="logo">
                    <a title="Return to Home" href="/">
                        <img width="420" height="295" src="/img/logo.png" alt="hapi">
                    </a>
                </h1>
                <p class="version">v1.2.0</p>
            </div>

            <div class="l-col l-headersecondary">
                <h2 class="tagline">Server Framework <br>for Node.js</h2>

                <p class="intro">A rich framework for building web applications and services. <b>hapi</b> is a simple to use configuration-centric framework with built-in support for input validation, caching, authentication, and other essential facilities. <b>hapi</b> enables developers to focus on writing reusable application logic instead of spending time building infrastructure. The framework supports a powerful plugin architecture for pain-free and scalable extensibility.</p>

                <p class="footnote">For the latest updates and release information follow <a href="http://twitter.com/hapijs">@hapijs</a>.</p>
            </div>

        </div>
    </div>
</header>

<section class="content home" role="main">
    <div class="l-constrained">

        <div class="l-row">
            <div class="l-col1 sidebar">

                <h3>Resources</h3>
                <ul>
                    {% for node in site.categories.resource %}
                        {% if node.title != null %}
                            <li><a href="{{node.url}}">{{node.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h3>Plugins</h3>
                <ul>
                    <li><a href="https://github.com/spumko/bassmaster">Batch Requests</a></li>
                    <li><a href="https://github.com/spumko/crumb">CSRF</a></li>
                    <li><a href="https://github.com/spumko/tv">Debug Console</a></li>
                    <li><a href="https://github.com/spumko/lout">Doc Generator</a></li>
                    <li><a href="https://github.com/spumko/good">Monitoring</a></li>
                    <li><a href="https://github.com/spumko/travelogue">Passport.js</a></li>
                    <li><a href="https://github.com/spumko/yar">Sessions</a></li>
                    <li><a href="https://github.com/spumko/scooter">User Agent</a></li>
                    <li><a href="https://github.com/spumko/furball">Utilities</a></li>
                </ul>

                <h3>Examples</h3>
                <ul>
                    {% for node in site.categories.example %}
                    {% if node.title != null %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div class="l-col2">
                <h2>Getting Started</h2>

                <div class="video-container">
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
                </div>

                {{ content }}
            </div>
        </div>
    </div>

    <footer class="copyright">
        <p>Copyright © Walmart 2013</p>
    </footer>
</section>

<script type="text/javascript" src="//use.typekit.net/vjn6umd.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</body>
</html>
