<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>hapi - {{ page.title }}</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/overrides.css">

    <script src="/js/vendor/html5shiv.js"></script>
</head>
<body>

<header class="header" role="banner">
    <div class="l-constrained">
        <h1 class="logo logo-small">
            <a title="Return to Home" href="/">
                <img width="150" height="104" src="/img/logo-small.png" alt="hapi">
            </a>
        </h1>
    </div>
</header>

<section role="main">
    <div class="l-constrained">
        {{ content }}
    </div>

    <footer class="copyright">
        <p>Copyright © Walmart 2013</p>
    </footer>
</section>

<script type="text/javascript" src="//use.typekit.net/vjn6umd.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</body>
</html>